@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';
/* src/App.css */
body {
    margin: 0;
    display: contents;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}



    
    